<li role="presentation"  id= <%= spot.id%> <%if spot.id == 1%> class = "tab-list active center-block" <%else%> class="tab-list center-block" <%end%> oncick="getId(this.id)" >
  <a aria-controls = <%= "tab#{spot.id}"%> data-toggle = "tab" href = <%= "#" + "tab#{spot.id}"%> role = "tab"><%= image_tag(spot.img, :class => "menu_icon", height: "15", witth: "15") %></a>
</li>



