

<p id="notice"><%= notice %></p>
<div>
  <div class="tab-content">
    <% @spots.each do |spot| %>
    <%= render 'box', spot: spot%>
    <% end %>
  </div>

  <nav class="scrol">
    <div class = "mask">
      <ul class="list nav nav-tabs start-tab" role="tablist">
        <% @spots.each do |spot| %>
        <%= render 'tabheader', spot: spot, index_id: "tab#{spot.id}", index_id_hash: "#" + "tab#{spot.id}"%>
        <% end %>
        </ul>
    </div>
  </nav>
</div>